
.text {
  margin-top: 100px;
  position: absolute;
  margin-right: 600px;
  h1 {
    color: black;
    font-size: 30px;
    font-weight: lighter;
  }
}



svg {
  margin-left: 300px;
  transform: rotate(-20deg);
}
