html {
  background-color: #eeeeee;
}

.writing {
  margin: 0 auto;
  text-align: center;
  h1 {
    color: black;
    font-family: 'Orbitron';
    font-weight: lighter;
    font-size: 70px;
  }
  a {
    color: black;
    text-decoration: none;
  }
}
