
.link {
  margin-top: 10px;
  text-align: center;
  a {
    text-decoration: none;
    font-family: 'Orbitron';
    font-size: 20px;
    color: black;
  }
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.card1, .card2, .card3 {
  background-color: #ff9900;
  // border-radius: 20px;
  width:400px;
  height: 500px;
  img {
    width: 250px;
    height: 400px;
    margin-top: 50px;
    margin-left: 75px;
  }
}

.creations {
   display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.creation1, .creation2, .creation3 {
  width:400px;
  h1 {
    font-family: Orbitron;
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
  }
}
