
.link {
  margin-top: 10px;
  text-align: center;
  a {
    text-decoration: none;
    font-family: 'Orbitron';
    font-size: 20px;
    color: black;
  }
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.card1, .card2, .card3 {
  background-color: #ca431d;
  // border-radius: 20px;
  width:400px;
  height: 500px;
  img {
    width: 250px;
    height: 400px;
    margin-top: 50px;
    margin-left: 75px;
  }
}


