  <div class="link">
       <ul><%= link_to 'On her way', onherway_path %>, <%= link_to 'Tower', root_path %>, <a href="https://www.instagram.com/charlesdur.nd/" style='font-size:15px'>instagram</a>, <a href="mailto: hi@charlesdurand.com" style='font-size:15px'>contact</a></ul>
    </div>



<div class="box">
  <div class="text">
    <h1>“Elles se bousculent, s’illustrent et se perdent, indifférentes - fuites en avant. (Retourne-toi). Je suis de celles, victimes de la houle de leurs pensées : tantôt joyeuses, maintenant funestes, alors futiles ou pleines de vacuité, qui cherchent des indices au hasard. C’est le
jeu. Du coq à l'âne, enroulée dans un fil, je me perds en pensées, en
pépites de folie qui ne manquent pas de m'étonner. (Retourne-moi) Leurs
messages m’ourlent les doigts, s’épanouissent, s’étiolent, évanescentes.
Mue par la curiosité, je vous vois, je vous dévoile.”
</h1>
  </div>

  <div class="signature">
    <%= render partial: 'shared/svgs/writing' %>
  </div>
</div>







