
<div class="link">
  <%= link_to 'On her way', root_path %>
</div>

<div class="links">
  <%= link_to 'Charles Durand', about_path %>, <%= link_to 'Cards', creations_path %>
</div>

<div class="box">
  <div class="text">
    <h1>“Elles se bousculent, s’illustrent et se perdent, indifférentes - fuites en avant.
      <br> <em>(Retourne-toi).</em>
      <br>Je suis de celles, victimes de la houle de leurs pensées : tantôt joyeuses, maintenant funestes, alors futiles ou pleines de vacuité, qui cherchent des indices au hasard.
      <br>C’est le jeu. Du coq à l'âne, enroulée dans un fil, je me perds en pensées, en
pépites de folie qui ne manquent pas de m'étonner.
<br> <em>(Retourne-toi).</em>
<br>Leurs
messages m’ourlent les doigts, s’épanouissent, s’étiolent, évanescentes.
Mue par la curiosité, je vous vois, je vous dévoile.”
</h1>
  </div>
<!--
  <div class="text1">
  </div> -->

  <div class="signature">
    <%= render partial: 'shared/svgs/writing' %>
  </div>
</div>






