<div class="main-container">

    <div class="link">
      <%= link_to 'On her way', onherway_path  %>
    </div>

    <div class="link1">
      <%= link_to 'About', about_path  %>
    </div>

    <div class="link2">
      <%= link_to 'Contact', contact_path %>
    </div>
    <%= render partial: 'shared/svgs/tour' %>
</div>



<div class="text">
  <h1>“Elles se bousculent, s’illustrent et se perdent, indifférentes - fuites en avant. (Retourne-toi). Je suis de celles, victimes
de la houle de leurs pensées : tantôt joyeuses, maintenant funestes, alors
futiles ou pleines de vacuité, qui cherchent des indices au hasard. C’est le
jeu. Du coq à l'âne, enroulée dans un fil, je me perds en pensées, en
pépites de folie qui ne manquent pas de m'étonner. (Retourne-nous) Leurs
messages m’ourlent les doigts, s’épanouissent, s’étiolent, évanescentes.
Mue par la curiosité, je vous vois, je vous regarde, je vous dévoile.”</h1>
</div>







