
    <div class='writing'>
      <h1> <%= link_to  "Charlie's on her way", onherway_path %> </h1>
    </div>


<!--     <%= video_tag "video1.mp4", :size => "600x500" %>
    <%= video_tag "video2.mp4", :size => "320x240" %> -->
    <%= video_tag "video4.mp4", :size => "600x500", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>








