
    <div class='writing'>
      <h1> <%= link_to  "Charlie's on her way", onherway_path %> </h1>
    </div>

    <div class="videos">
    <%= video_tag loop "video1.mp4", :size => "320x240" %>
    <%= video_tag "video2.mp4", :size => "320x240" %>
    <%= video_tag "video3.mp4", :size => "320x240"%>
    </div>






