
    <div class='writing'>
      <h1> <%= link_to  "Charlie's on her way", creations_path %> </h1>
    </div>

    <%= video_tag "newvideo.mov", :size => "600x500", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>








