// Place all the styles related to the creations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.link {
  margin-top: 20px;
  text-align: center;
  //  border-bottom-style: solid;
  // border-bottom-color: #ff9900;
  // border-bottom-width: 2px;
  a {
    text-decoration: none;
    font-family: 'Orbitron';
    font-size: 20px;
    color: black;
  }
}

.links {
  text-align: center;
  margin-top: 10px;
  a {
    text-decoration: none;
    color: black;
    font-family: 'Orbitron';
    font-size: 30px;
  }
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.card1 {
  // position: relative;
  border-style: solid;
  border-width: 4px;
  border-color: #54123b;
  // background-color:#480032;
  border-radius: 3px;
  width:300px;
  height: 400px;
  img {
    position: relative;
    border-style: solid;
    border-color: #fafafa;
    // border-color: #480032;
    border-width: 10px;
    border-radius: 5px;
    border-bottom-width: 50px;
    width: 250px;
    height: 350px;
    margin-top: 50px;
    margin-left: 75px;
  }
}


.creations {
  position: absolute;
  display: flex;
  justify-content: space-around;
  margin-top: -30px;
  margin-left: 80px;
  border-style: solid;
  border-color: #ff9900;
  background-color: #ff9900;
  border-radius: 5px;
  width:200px;
  padding: 10px;
  a {
    text-decoration: none;
    color: black;
    font-family: Orbitron;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
  }
}

.edit {
  text-align: center;
  margin-top: 30px;
  margin-left: 240px;
  border-style: solid;
  border-color: #ff9900;
  border-radius: 50px;
  // background-color: #ff9900;
  width:50px;
  padding: 5px;
  a {
    text-decoration: none;
    color: black;
    font-family: Orbitron;
    font-size: 13px;
    font-weight: lighter;
    text-align: center;
  }
}


.footer {
  // width: 200px;
  margin-top: 200px;
  text-align: right;
  padding: 10px;
  // border-top-style: solid;
  // border-left-style: solid;
  a {
    padding: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Orbitron';
  }
}


.footer-show {
  // width: 200px;
  margin-top: 100px;
  text-align: right;
  padding: 10px;
  // border-top-style: solid;
  // border-left-style: solid;
  a {
    padding: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Orbitron';
  }
}


.footer-about {
  // width: 200px;

  text-align: right;
  padding: 10px;
  // border-top-style: solid;
  // border-left-style: solid;
  a {
    padding: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Orbitron';
  }
}

.show  {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  border-top-style: solid;
}

.photos {
  display: flex;
  justify-content: space-around;
  margin-right: 200px;
  margin-top: 50px;
}

.photo1 {
  margin-top: 30px;
  width:700px;
  height: 450px;
  display: flex;
  justify-content: space-around;
  img {
     border-style: solid;
    border-width: 5px;
    border-color: #ff9900;
    border-radius: 3px;
    width: 300px;
    height: 450px;
    // margin-top: 50px;
    // margin-left: 40px;
  }
  h1 {
    font-family: Orbitron;
    font-weight:lighter;
    text-align: right;
  }
}
