// Place all the styles related to the creations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.link {
  margin-top: 20px;
  text-align: center;
  //  border-bottom-style: solid;
  // border-bottom-color: #ff9900;
  // border-bottom-width: 2px;
  a {
    text-decoration: none;
    font-family: 'Orbitron';
    font-size: 20px;
    color: black;
  }
}

.links {
  text-align: center;
  margin-top: 10px;
  a {
    text-decoration: none;
    color: black;
    font-family: 'Orbitron';
    font-size: 30px;
  }
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.card1, .card2  {
  border-style: solid;
  border-width: 3px;
  border-color: #480032;
  border-radius: 3px;
  width:300px;
  height: 400px;
  img {
    border-style: solid;
    border-color: #fafafa;
    border-width: 8px;
    border-radius: 5px;
    border-bottom-width: 50px;
    width: 230px;
    height: 380px;
    margin-top: 50px;
    margin-left: 75px;
  }
}

.card2 {
  margin-top: -50px;
}

.card3 {
  margin-top: 40px;
}


.creations {
  display: flex;
  justify-content: space-around;
  margin-top: 370px;
  margin-left: 70px;
  border-style: solid;
  border-color: #ff9900;
  background-color: #ff9900;
  border-radius: 5px;
  width:200px;
  padding: 10px;
  a {
    text-decoration: none;
    color: black;
    font-family: Orbitron;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
  }
}

.footer {
  // width: 200px;
  margin-top: 70px;
  text-align: right;
  padding: 10px;
  // border-top-style: solid;
  // border-left-style: solid;
  a {
    padding: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Orbitron';
  }
}

.show  {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  border-top-style: solid;
}

.photos {
  display: flex;
  justify-content: space-around;
  margin-right: 200px;
  margin-top: 50px;
}

.photo1, .photo2 {
  margin-top: 30px;
  border-style: solid;
  border-width: 10px;
  border-color: #ff9900;
  border-radius: 3px;
  width:350px;
  height: 450px;
  img {
    width: 250px;
    height: 400px;
    margin-top: 50px;
    margin-left: 75px;
  }
  h1 {
    font-family: Orbitron;
    font-weight:lighter;
    text-align: right;
  }
}
