// Place all the styles related to the creations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.link {
  margin-top: 20px;
  text-align: center;
  a {
    text-decoration: none;
    font-family: 'Orbitron';
    font-size: 20px;
    color: black;
  }
}

.links {
  text-align: center;
  margin-top: 10px;
  a {
    text-decoration: none;
    color: black;
    font-family: 'Orbitron';
    font-size: 30px;
  }
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.card1 {
  // position: absolute;
  border-style: solid;
  border-width: 4px;
  border-color: #54123b;
  border-radius: 3px;
  width:300px;
  height: 400px;
  img {
    position: relative;
    border-style: solid;
    border-color: #fafafa;
    border-width: 10px;
    border-radius: 5px;
    border-bottom-width: 50px;
    width: 250px;
    height: 350px;
    margin-top: 50px;
    margin-left: 75px;
  }
}

.tour {
  border-bottom-style: solid;
  text-align: left;
  width: 550px;
  h1 {
    font-size: 25px;
    font-family: Orbitron;
    font-weight: lighter;
    position: relative;
  }
  p {
    font-family:'News Cycle';
    margin-top: 20px;
    font-size: 20px;
    font-weight: lighter;
    position: relative;
    margin: 50px;
  }
  svg {
    margin-top:100px;
    margin-left: 380px;
    position: absolute;
    height: 500px;
    // width: 400px;
  }
}


.creations {
  position: absolute;
  display: flex;
  justify-content: space-around;
  margin-top: -30px;
  margin-left: 80px;
  border-style: solid;
  border-color: #ff9900;
  background-color: #ff9900;
  border-radius: 5px;
  width:200px;
  padding: 10px;
  a {
    text-decoration: none;
    color: black;
    font-family: Orbitron;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
  }
}

.edit {
  text-align: center;
  margin-top: 30px;
  margin-left: 240px;
  border-style: solid;
  border-color: #ff9900;
  border-radius: 50px;
  background-color: #ff9900;
  width:50px;
  padding: 5px;
  a {
    text-decoration: none;
    color: black;
    font-family: Orbitron;
    font-size: 13px;
    font-weight: lighter;
    text-align: center;
  }
}


.footer {
  float: right;
  width: 200px;
  margin-top: 170px;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  // border-style: solid;
  background-color: #480039;
  // border-radius: 50px;
  a {
    padding: 5px;
    text-decoration: none;
    color: white;
    font-family: 'Orbitron';
  }
}


.footer-show {
  float: right;
  width: 200px;
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  background-color: #480039;
  a {
    padding: 5px;
    text-decoration: none;
    color: white;
    font-family: 'Orbitron';
  }
}

// .footer-about {
//   float: right;
//   width: 200px;
//   text-align: right;
//   margin-bottom: 20px;
//   padding: 10px;
//    border-style: solid;
//   background-color:#480032;
//   a {
//     padding: 5px;
//     text-decoration: none;
//     color: white;
//     font-family: 'Orbitron';
//   }
// }

.show  {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  border-top-style: solid;
}


.photo1 {
  margin-top: 30px;
  width:700px;
  height: 450px;
  display: flex;
  justify-content: space-around;
  img {
    border-style: solid;
    border-color: #ff9900;
    border-width: 8px;
    width: 300px;
    height: 450px;
  }
  h1 {
    font-family: Orbitron;
    font-weight:lighter;
    text-align: right;
  }
}

// .photo2 {
//   border-style: solid;
//     border-color: #ff9900;
//     border-width: 8px;
// }

// RESPONSIVENESS


@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)

{

  .link {
    a {
      font-size: 50px;
    }
  }

.links {
  a {
    font-size: 60px;
  }
}


  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column-reverse;
    margin-top: -50px;
    margin-left: 120px;
  }



  .card1 {
    margin-top: 200px;
    width:700px;
    height: 950px;
      img {
      width: 550px;
      height: 840px;
      margin-top: 100px;
      margin-left: 175px;
    }
  }

  .creations {
  margin-left: 220px;
  width:300px;
  a {
    font-size: 30px;
  }
}

.edit {
  margin-top: 50px;
  width:70px;
  a {
    font-size: 20px;
  }
}

  .footer {
    margin-top: 300px;
    width: 420px;
    text-align: center;
    a {
      font-size: 30px;
    }
  }

  .show  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column-reverse;
  }

  .photo1 {
    border-style: solid;
    border-width:5px;
    border-color: #ff9900;
    width:950px;
    height: 700px;
    margin: 50px auto;
      img {
        margin-top: 90px;
        width: 400px;
        height: 600px;
        border-style: solid;
        border-color: #fafafa;
        border-width: 10px;
        border-radius: 5px;
        border-bottom-width: 50px;
      }
  }


  .tour {
    min-height: 900px;
    width: 500px;
    h1 {
      margin-top: 100px;
      font-size: 50px;
    }
    p {
      font-size: 40px;
      margin-top: 200px;
    }
    svg {
      margin-top:200px;
      margin-left: 250px;
      height: 800px;
    }
  }

  .footer-show {
    margin-top: 200px;
    width: 420px;
    a {
      font-size: 30px;
    }
  }


}
