// Place all the styles related to the creations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.link {
  margin-top: 20px;
  text-align: center;
  //  border-bottom-style: solid;
  // border-bottom-color: #ff9900;
  // border-bottom-width: 2px;
  a {
    text-decoration: none;
    font-family: 'Orbitron';
    font-size: 20px;
    color: black;
  }
}

.links {
  text-align: center;
  margin-top: 10px;
  a {
    text-decoration: none;
    color: black;
    font-family: 'Orbitron';
    font-size: 30px;
  }
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.card1 {
  position: relative;
  border-style: solid;
  border-width: 4px;
  border-color: #54123b;
  // background-color:#480032;
  border-radius: 3px;
  width:300px;
  height: 400px;
  img {
    position: relative;
    border-style: solid;
    border-color: #fafafa;
    border-width: 10px;
    border-radius: 5px;
    border-bottom-width: 50px;
    width: 250px;
    height: 350px;
    margin-top: 50px;
    margin-left: 75px;
  }
}

.tour {
  border-bottom-style: solid;
  text-align: left;
  width: 550px;
  h1 {
    font-size: 25px;
    font-family: Orbitron;
    font-weight: lighter;
    position: relative;
  }
  p {
    font-family:'News Cycle';
    margin-top: 20px;
    font-size: 20px;
    font-weight: lighter;
    position: relative;
    margin: 50px;
  }
  svg {
    margin-top:100px;
    margin-left: 380px;
    position: absolute;
    height: 500px;
    // width: 400px;
  }
}


.creations {
  position: absolute;
  display: flex;
  justify-content: space-around;
  margin-top: -30px;
  margin-left: 80px;
  border-style: solid;
  border-color: #ff9900;
  background-color: #ff9900;
  border-radius: 5px;
  width:200px;
  padding: 10px;
  a {
    text-decoration: none;
    color: black;
    font-family: Orbitron;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
  }
}

.edit {
  text-align: center;
  margin-top: 30px;
  margin-left: 240px;
  border-style: solid;
  border-color: #ff9900;
  border-radius: 50px;
  background-color: #ff9900;
  width:50px;
  padding: 5px;
  a {
    text-decoration: none;
    color: black;
    font-family: Orbitron;
    font-size: 13px;
    font-weight: lighter;
    text-align: center;
  }
}


.footer {
  float: right;
  width: 200px;
  margin-top: 170px;
  margin-bottom: 20px;
  text-align: right;
  padding: 10px;
  border-style: solid;
  background-color:#480032;
  // border-radius: 50px;
  a {
    padding: 5px;
    text-decoration: none;
    color: white;
    font-family: 'Orbitron';
  }
}


.footer-show {
  float: right;
  width: 200px;
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: right;
  padding: 10px;
  border-style: solid;
  background-color:#480032;

  a {
    padding: 5px;
    text-decoration: none;
    color: white;
    font-family: 'Orbitron';
  }
}

.footer-about {
  float: right;
  width: 200px;
  text-align: right;
  margin-bottom: 20px;
  padding: 10px;
   border-style: solid;
  background-color:#480032;
  a {
    padding: 5px;
    text-decoration: none;
    color: white;
    font-family: 'Orbitron';
  }
}

.show  {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  border-top-style: solid;
}


.photo1 {
  margin-top: 30px;
  width:700px;
  height: 450px;
  display: flex;
  justify-content: space-around;
  img {
    border-style: solid;
    border-color: #ff9900;
    border-width: 8px;
    width: 300px;
    height: 450px;
  }
  h1 {
    font-family: Orbitron;
    font-weight:lighter;
    text-align: right;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)

{

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column-reverse;
    margin-top: -50px;
    margin-left: 120px;
  }

  .card1 {
    margin-top: 150px;
  }


  .footer {
    width: 150px;
    text-align: center;

    a {
      font-size: 10px;
    }
  }

  .show  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column-reverse;
  }

  .photo1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column-reverse;
      img {
        border-style: solid;
        border-color: #ff9900;
        border-width: 8px;
        width: 300px;
        height: 450px;
      }
  }

  .tour {
    // margin-top: 50px;
    width: 350px;
    h1 {
      margin-top: 20px;
    }
    p {
      font-size: 15px;
      margin: 50px;
    }
    svg {
      margin-top:100px;
      margin-left: 240px;
      height: 400px;
    }
  }

  .footer-show {
    width: 150px;
    text-align: center;
    a {
      font-size: 10px;
    }
  }
}
