// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background-color: #eeeeee;
}

//home

.writing {
  position: relative;
  height: 50vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  h1 {
    color: black;
    font-family: 'Orbitron';
    font-weight: lighter;
    font-size: 70px;
  }
  a {
    color: black;
    text-decoration: none;
  }
}

.home_video {
 width: 100vw;
 height: 100vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}


// bio

.link {
  margin-top: 20px;
  text-align: center;
  a {
    text-decoration: none;
    font-family: 'Orbitron';
    font-size: 20px;
    color: black;
  }
}

.links {
  text-align: center;
  margin-top: 10px;
  a {
    text-decoration: none;
    color: black;
    font-family: 'Orbitron';
    font-size: 30px;
  }
}


.text {
  position: absolute;
  width: 300px;
  height: 400px;
  text-align: center;
  margin-top: 120px;
  position: absolute;
  margin-left: 550px;
  margin-right: 550px;
  border-style: solid;
  border-width: 5px;
  border-color: #fcd307;
  padding: 20px;
}

.text1{
  position: absolute;
  margin-left: 750px;
  margin-top: 150px;
  width: 300px;
  height: 300px;
  h1 {
    text-align: center;
    font-family: 'News Cycle';
    color: black;
    font-size: 15px;
    font-weight: lighter;
  }
  em {
    font-size: 12px;
  }
}


.signature {
  position: relative;
  svg  {
    margin-left: 640px;
    margin-top: 550px;
    // transform: rotate(-20deg);
    height: 200px;
    padding: 0px;
  }
}


//LOGIN PAGE

.hello {
  text-align: right ;
  margin-right: 50px;
  h1 {
    font-family: Orbitron;
    font-size: 40px;
    font-weight: lighter;
  }
}

.profile {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}

.pcards {
  padding: 30px;
  margin-top: 10px;
  width: 700px;
  height: 30px;
  border-style: solid;
  border-width:0px;
  border-radius: 50px;
  background: linear-gradient(#fcd307, #ff9900);
  text-align: center;
  a {
    font-family: Orbitron;
    font-size: 20px;
    text-decoration: none;
    color: black;
  }
}


.login {
  margin-top: 20px;
  text-align: left;
  padding: 20px;
  h1 {
    font-family: Orbitron;
    font-size: 50px;
    font-weight: lighter;
  }
}

// FORMS

.form, .form-sign {
  width: 600px;
  height: 170px;
}

.form-edit {
  width: 700px;
  height: 300px;
}

.form-forgot {
  width: 600px;
  height: 100px;
}

.error_notification, .error {
  font-family: Orbitron;
  font-size: 20px;
  margin: 5px;
}

.form, .form-edit, .form-sign, .form-forgot {
  border-radius: 50px;
  border-style: solid;
  background-color: #fcd307;
  border-color: #fcd307;
  margin-top: 60px;
  padding: 50px;
  margin-left: 300px;
  a {
    text-decoration: none;
    color: black;
    font-family: Orbitron;
    font-size: 10px;
  }
  label {
    font-family: Orbitron;
    font-size: 15px;
  }
  .btn {
    background-color: #c70039;
    border-color: #c70039;
    border-radius: 50px;
    font-family: Orbitron;
    margin-top: 20px;
    margin-left: 270px;
  }
   #user_password, #user_password_confirmation {
    width: 200px;
    margin-left: 30px;
    margin-top: 15px;
  }
  #user_email {
    width: 200px;
    margin-left: 30px;
  }
  #creation_title, #creation_description, #creation_photos, #creation_images {
    margin-left: 30px;
  }

  #creation_photos, #creation_images {
    margin-top: 20px;
  }

  #creation_description {
    width: 300px;
    height: 100px;
  }
  .input.boolean.optional.user_remember_me {
    margin-top: 30px;
    // text-align: center;
  }
  .button {
    background-color: #c70039;
    border-color: #c70039;
    border-radius: 50px;
    font-family: Orbitron;
    margin-top: 15px;
    margin-left: 270px;
  }

  .btn.btn-primary {
    background-color: #c70039;
    border-color: #c70039;
    border-radius: 50px;
    font-family: Orbitron;
    margin-top: 50px;
    margin-left: 270px;
  }

  .input.string.required.creation_description.field_without_errors, .input.file.optional.creation_photos.field_without_errors, .input.file.optional.creation_images.field_without_errors {
    margin-top: 20px;
  }

  .password.required {
    margin-top: 10px;
  }

  .hint{
    font-family: Orbitron;
    font-size: 20px;
    margin-left: 5px;
  }


}

// EDIT PAGE FORM

.edit-page {
  margin-top: 20px;
  padding: 20px;
  h1 {
    font-family: Orbitron;
    font-size: 40px;
    font-weight: lighter;
  }
}

.button {
  margin-top: 100px;
  float: right;
  margin-right: 20px;
  a {
     padding: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Orbitron';
  }
}


// RESPONSIVENESS

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)

{

  .writing {
  h1 {
    font-size: 70px;
  }
}

 .link {
    a {
      font-size: 50px;
    }
  }

.links {
  a {
    font-size: 60px;
  }
}


  .text {
    margin-left: 0px;
    width: 900px;
    height: 1400px;
    margin-top: 300px;
    border-width: 15px;
  }

.text1{
  margin-left: 650px;
  margin-top: 300px;
  width: 500px;
  height: 300px;
  h1 {
    text-align: center;
    font-family: 'News Cycle';
    color: black;
    font-size: 40px;
    font-weight: lighter;
  }
  em {
    font-size: 12px;
  }
}


.signature {
  position: absolute;

  svg  {
  position: relative;
    margin-left: 300px;
    margin-top: 2000px;
    transform: rotate(-10deg);
    height: 600px;
  }
}

.edit-page {
  h1 {
    font-size: 100px;
    text-align: center;
    margin-top: 100px;
  }
}

.button {
  margin-top: 250px;
  a {
    font-size: 50px;
  }
}

.form-edit {
  width: 800px;
  height: 700px;
  margin: 150px auto;

   #creation_title, #creation_description, #creation_photos, #creation_images {
      margin-top: 60px;
    }

    #creation_title{
      height: 30px;
    }

    .btn.btn-primary {
    background-color: #c70039;
    border-color: #c70039;
    border-radius: 50px;
    font-family: Orbitron;
    font-size: 30px;
    margin-top: 150px;
    margin-left: 270px;
    }

  label {
      font-size: 30px;
    }
  }


  .hello {
    margin-top: 200px;
    h1 {
      font-size: 70px;
    }
  }

  .profile {
    margin-top: 200px;
  }

  .pcards {
    padding: 80px;
    margin-top: 50px;
    width: 800px;
    height: 100px;
    a {
      font-size: 50px;

    }
  }

  .login {
    margin-top: 100px;
    text-align: center;
    h1 {
      font-size: 100px;
    }
  }

  .form-forgot {
    width: 800px;
    height: 240px;
    margin: 150px auto;
    a {
      font-size: 20px;
    }
    label {
      font-size: 40px;
    }
    .btn {
      font-size: 20px;
      width: 500px;
      margin: 50px 0px 50px 150px;
    }
  }

  .form, .form-sign {
    width: 800px;
    height: 440px;
    margin: 150px auto;
    a {
      font-size: 20px;
    }
    label {
      font-size: 40px;
    }
    #user_password {
      margin-top: 50px;
    }
    #user_remember_me {
      height: 30px;
      width: 30px;
    }
    .input.boolean.optional.user_remember_me {
      margin-top: 60px;
    }

  }

  .form {
    .btn {
      font-size: 30px;
      font-family: Orbitron;
      margin-top: 50px;
      margin-bottom: 50px;
    }

  }

  .form-sign {
    .btn {
      font-size: 30px;
      width: 200px;
      margin-top: 80px;
      margin-bottom: 50px;
    }

  }

}

