// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//home

html {
  background-color: #eeeeee;
}

.writing {
  position: relative;
  height: 50vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  h1 {
    color: black;
    font-family: 'Orbitron';
    font-weight: lighter;
    font-size: 70px;
  }
  a {
    color: black;
    text-decoration: none;
  }
}

.home_video {
 width: 100vw;
 height: 100vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}


// bio


.text {
  position: absolute;
  width: 300px;
  height: 400px;
  text-align: center;
  margin-top: 70px;
  position: absolute;
  margin-left: 500px;
  margin-right: 500px;
  border-style: solid;
  border-width: 5px;
  border-color: #fcd307;
  padding: 20px;
}

.text1{
  position: absolute;
  margin-left: 650px;
  margin-top: 100px;
  width: 300px;
  height: 300px;
  h1 {
    text-align: center;
    font-family: 'News Cycle';
    color: black;
    font-size: 15px;
    font-weight: lighter;
  }
  em {
    font-size: 12px;
  }
}


.signature {
  position: relative;
  svg  {
    margin-left: 800px;
    margin-top: 400px;
    transform: rotate(-20deg);
    height: 300px;
  }
}

.tour {
  border-bottom-style: solid;
  text-align: left;
  width: 550px;
  h1 {
    font-size: 25px;
    font-family: Orbitron;
    font-weight: lighter;
    position: relative;
  }
  p {
    font-family:'News Cycle';
    margin-top: 20px;
    font-size: 20px;
    font-weight: lighter;
    position: relative;
    margin: 50px;
  }
  svg {
    margin-top:100px;
    margin-left: 380px;
    position: absolute;
    height: 500px;
    // width: 400px;
  }
}


.hello {
  text-align: right ;
  margin-right: 50px;
  h1 {
    font-family: Orbitron;
    font-size: 40px;
    font-weight: lighter;
  }
}
.profile {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}

.pcards {
  padding: 30px;
  margin-top: 10px;
  width: 700px;
  height: 30px;
  border-style: solid;
  border-width:0px;
  border-radius: 50px;
  background: linear-gradient(#fcd307, #ff9900);
  text-align: center;
  a {
    font-family: Orbitron;
    font-size: 20px;
    text-decoration: none;
    color: black;
  }
}

// .tourprofile {
//   svg {
//     position: absolute;
//     height: 500px;
//     // width: 400px;
//   }
// }


// login page

.login {
  margin-top: 50px;
  text-align: left;
  h1 {
    font-family: Orbitron;
    font-size: 30px;
    font-weight: lighter;
  }
}

.form {
  width: 600px;
  height: 150px;
}

.form-edit {
  width: 700px;
  height: 300px;
}

.form, .form-edit {
  border-radius: 50px;
  border-style: solid;
  background-color: #fcd307;
  border-color: #fcd307;
  margin-top: 100px;
  padding: 50px;
  margin-left: 300px;
  a {
    text-decoration: none;
    color: black;
    font-family: Orbitron;
    font-size: 10px;
  }
  label {
    font-family: Orbitron;
    font-size: 15px;
  }
   #user_password {
    width: 200px;
    margin-left: 30px;
    margin-top: 15px;
  }
  #user_email {
    width: 200px;
    margin-left: 30px;
  }
  #creation_title, #creation_description, #creation_photos, #creation_images {
    margin-left: 30px;
  }
  #creation_description {
    width: 300px;
    height: 100px;
  }
  .input.boolean.optional.user_remember_me {
    margin-top: 30px;
    text-align: center;
  }
  .button {
    background-color: #c70039;
    border-color: #c70039;
    border-radius: 50px;
    font-family: Orbitron;
    margin-top: 15px;
    margin-left: 270px;
  }

  .btn.btn-primary {
    background-color: #c70039;
    border-color: #c70039;
    border-radius: 50px;
    font-family: Orbitron;
    margin-top: 50px;
    margin-left: 270px;
  }

  .input.string.required.creation_description.field_without_errors, .input.file.optional.creation_photos.field_without_errors, .input.file.optional.creation_images.field_without_errors {
    margin-top: 20px;
  }


}

// edit page

.edit-page {
  h1 {
    font-family: Orbitron;
    font-size: 40px;
    font-weight: lighter;
  }
}

.button {
  margin-top: 100px;
  float: right;
  margin-right: 20px;
  a {
     padding: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Orbitron';
  }
}
